.container {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  left: 0;
  top: 4px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.container2 {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content {
  border-radius: 0.5rem;
  margin: 5px;
  padding: 20px;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.formContainer label {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.formContainer input, .formContainer textarea {
  padding: 10px;
  border: 1px solid #785c73;
  border-radius: 0.3em;
}

    .formContainer input:focus, .formContainer input:active{
        border: 1px solid #C45CB3;
    }

.description{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.button {
  margin-top: 1.5em;
  border: none;
  color: white;
  border-radius: 0.5em;
  background-color: #785c73;
  padding: 10px 20px 10px 20px;
}

