.div {
  background-color: #78376d;
  display: flex;
  justify-content: center;
}

.container {
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  color: white;

}

.chatroom {
    display: flex;
    align-items: center;
    gap: 50px;
}

.title {
  font-size: x-large;
}

.joinRoom, .joinRoomActive{
  cursor: pointer;
}

.joinRoomActive {
  border-bottom: 2px solid  #F773E1;
}

.addRoom{
  cursor: pointer;
}

.username {
    font-size: larger;
}