.container{
    background-color: #F9BFEF;
    height: 25em;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;

}

.block{
    background-color: rgb(252, 218, 246);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
    overflow-y:auto;

}

.title{
    display: flex;
    justify-content: space-between;
}

.room_name{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5em;
}
