.container{
    margin-top: 2rem;
}

.chatlog {
    background-color: #f773e1;
    border-radius: 0.5rem;
    /* width: 60%; */
    height: 25rem;
    padding: 1rem 2rem 1rem 2rem;

    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.content{
}

.message {
    margin-right: auto;
}

.mineMessage{
    margin-left: auto;
}

.mineMessage, .message {
    display: inline-block;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.username{
    font-weight: bold;
}

.time{
    display: flex;
    justify-content: flex-end;
    color: gray;
} 