.container{
    margin: 2rem;
}

.chatlog {
    background-color: #F771E0;
    border-radius: 0.5rem;
    width: 60%;
    height: 25rem;
    padding: 0rem 2rem 0rem 2rem;


    overflow-y:auto;
}

.message {
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;


}

.username{
    font-weight: bold;
}

.time{
    display: flex;
    justify-content: flex-end;
    color: gray;
} 